ALTER TABLE users ADD COLUMN IF NOT EXISTS roll_no VARCHAR(20) UNIQUE; 
ALTER TABLE users ADD COLUMN IF NOT EXISTS faculty_id VARCHAR(20) UNIQUE; 
ALTER TABLE users ADD COLUMN IF NOT EXISTS phone_no VARCHAR(15) UNIQUE; 
ALTER TABLE users ADD COLUMN IF NOT EXISTS parent_of_roll_no VARCHAR(20);
